# Here we set a bunch of parameters for your image build

# output image name prefix, the base image variant suffix is appended to it
# (eg. bazzite-gnome-nvidia -> bazzite-surface-gnome-nvidia)
IMAGE_NAME=bazzite-surface

# Make this the same as your github username/organisation
REPO_ORGANIZATION="ublue-os"

# Bazzite variant to layer on top of. One of:
#   bazzite, bazzite-gnome, bazzite-nvidia, bazzite-gnome-nvidia
BASE_IMAGE_REGISTRY="ghcr.io/ublue-os"
BASE_IMAGE_NAME="bazzite"
BASE_IMAGE_TAG="testing"

IMAGE_DESC="Bazzite with the linux-surface kernel and utilities"
IMAGE_KEYWORDS="bootc,oci,linux,bazzite,surface"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/120078124?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
